jarvis/db/jarvisdft.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="NewDataSet" xmlns="" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata">
  <xs:element name="basic_info">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="convergence_info" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="converged_encut" type="xs:string" minOccurs="0" />
              <xs:element name="converged_kpoint_length" type="xs:string" minOccurs="0" />
              <xs:element name="kp_values" type="xs:string" minOccurs="0" />
              <xs:element name="kp_based_energies" type="xs:string" minOccurs="0" />
              <xs:element name="encut_values" type="xs:string" minOccurs="0" />
              <xs:element name="encut_based_energies" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="wannier_band_comparison" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="maxdiff_mesh" type="xs:string" minOccurs="0" />
              <xs:element name="maxdiff_bz" type="xs:string" minOccurs="0" />
              <xs:element name="mesh_vrun_x" type="xs:string" minOccurs="0" />
              <xs:element name="mesh_vrun_y" type="xs:string" minOccurs="0" />
              <xs:element name="mesh_difference_values" type="xs:string" minOccurs="0" />
              <xs:element name="mesh_difference_keys" type="xs:string" minOccurs="0" />
              <xs:element name="mesh_wann_x" type="xs:string" minOccurs="0" />
              <xs:element name="mesh_wann_y" type="xs:string" minOccurs="0" />
              <xs:element name="bz_vrun_x" type="xs:string" minOccurs="0" />
              <xs:element name="bz_vrun_y" type="xs:string" minOccurs="0" />
              <xs:element name="bz_difference_values" type="xs:string" minOccurs="0" />
              <xs:element name="bz_difference_keys" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        <xs:element name="vacancy_formation_energy" type="xs:string" minOccurs="0" />
        <xs:element name="raman_dat" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="frequencies" type="xs:string" minOccurs="0" />
              <xs:element name="activity" type="xs:string" minOccurs="0" />
              <xs:element name="alpha" type="xs:string" minOccurs="0" />
              <xs:element name="beta2" type="xs:string" minOccurs="0" />
              <xs:element name="indices" type="xs:string" minOccurs="0" />
              <xs:element name="max_raman_mode" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        
        




        <xs:element name="main_relax_info" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="source_folder" type="xs:string" minOccurs="0" />
              <xs:element name="id_file" type="xs:string" minOccurs="0" />
              <xs:element name="ehull" type="xs:string" minOccurs="0" />
              <xs:element name="data_source" type="xs:string" minOccurs="0" />
              <xs:element name="material_type" type="xs:string" minOccurs="0" />
              <xs:element name="exfoliation_energy" type="xs:string" minOccurs="0" />
              <xs:element name="XRD" minOccurs="0" maxOccurs="unbounded">
                 <xs:complexType>
                  <xs:sequence>
                    <xs:element name="two_thetas" type="xs:string" minOccurs="0" />
                    <xs:element name="d_hkls" type="xs:string" minOccurs="0" />
                    <xs:element name="intensities" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="id" type="xs:string" minOccurs="0" />
              <xs:element name="formula" type="xs:string" minOccurs="0" />
              <xs:element name="elements" type="xs:string" minOccurs="0" />
              <xs:element name="number_uniq_species" type="xs:string" minOccurs="0" />
              <xs:element name="method" type="xs:string" minOccurs="0" />
              <xs:element name="formation_energy" type="xs:string" minOccurs="0" />
              <xs:element name="relaxed_energy" type="xs:string" minOccurs="0" />
              <xs:element name="spacegroup_number" type="xs:string" minOccurs="0" />
              <xs:element name="point_group_symbol" type="xs:string" minOccurs="0" />
              <xs:element name="spg_space_group_symbol" type="xs:string" minOccurs="0" />
              <xs:element name="crys_system" type="xs:string" minOccurs="0" />
              <xs:element name="a_conv" type="xs:string" minOccurs="0" />
              <xs:element name="b_conv" type="xs:string" minOccurs="0" />
              <xs:element name="c_conv" type="xs:string" minOccurs="0" />
              <xs:element name="alpha_conv" type="xs:string" minOccurs="0" />
              <xs:element name="beta_conv" type="xs:string" minOccurs="0" />
              <xs:element name="gamma_conv" type="xs:string" minOccurs="0" />
              <xs:element name="a_prim" type="xs:string" minOccurs="0" />
              <xs:element name="b_prim" type="xs:string" minOccurs="0" />
              <xs:element name="c_prim" type="xs:string" minOccurs="0" />
              <xs:element name="alpha_prim" type="xs:string" minOccurs="0" />
              <xs:element name="beta_prim" type="xs:string" minOccurs="0" />
              <xs:element name="gamma_prim" type="xs:string" minOccurs="0" />
              <xs:element name="prim_natoms" type="xs:string" minOccurs="0" />
              <xs:element name="conv_natoms" type="xs:string" minOccurs="0" />
              <xs:element name="density" type="xs:string" minOccurs="0" />
              <xs:element name="volume" type="xs:string" minOccurs="0" />
              <xs:element name="packing_fr" type="xs:string" minOccurs="0" />
              <xs:element name="xyz" type="xs:string" minOccurs="0" />
              <xs:element name="poscar_conv" type="xs:string" minOccurs="0" />
              <xs:element name="contcar" type="xs:string" minOccurs="0" />
              <xs:element name="cfid_descs" type="xs:string" minOccurs="0" />
              <xs:element name="rdf_bins" type="xs:string" minOccurs="0" />
              <xs:element name="rdf_hist" type="xs:string" minOccurs="0" />
              <xs:element name="ang1_bins" type="xs:string" minOccurs="0" />
              <xs:element name="ang1_hist" type="xs:string" minOccurs="0" />
              <xs:element name="ang2_bins" type="xs:string" minOccurs="0" />
              <xs:element name="ang2_hist" type="xs:string" minOccurs="0" />
              <xs:element name="dihedral_bins" type="xs:string" minOccurs="0" />
              <xs:element name="dihedral_hist" type="xs:string" minOccurs="0" />
              <xs:element name="scf_indir_gap" type="xs:string" minOccurs="0" />
              <xs:element name="scf_dir_gap" type="xs:string" minOccurs="0" />
              <xs:element name="magmom" type="xs:string" minOccurs="0" />
              
         
              <xs:element name="main_relax_dos" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="edos_energies" type="xs:string" minOccurs="0" />
                    <xs:element name="total_edos_up" type="xs:string" minOccurs="0" />
                    <xs:element name="total_edos_down" type="xs:string" minOccurs="0" />
                    <xs:element name="spdf_dos" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="spin_up_s" type="xs:string" minOccurs="0" />
                          <xs:element name="spin_up_p" type="xs:string" minOccurs="0" />
                          <xs:element name="spin_up_d" type="xs:string" minOccurs="0" />
                          <xs:element name="energy" type="xs:string" minOccurs="0" />
                          <xs:element name="spin_down_s" type="xs:string" minOccurs="0" />
                          <xs:element name="spin_down_p" type="xs:string" minOccurs="0" />
                          <xs:element name="spin_down_d" type="xs:string" minOccurs="0" />
                          <xs:element name="has_f_elements" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="elemental_dos" minOccurs="0" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="spin_up_info" type="xs:string" minOccurs="0" />
                          <xs:element name="spin_down_info" type="xs:string" minOccurs="0" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_band" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_bands_info" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="band_indir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="band_dir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels_points" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_y" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_y" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_hse06_band" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_hse_bands_info" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="band_indir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="band_dir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels_points" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_y" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_y" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="effective_mass" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="electron_mass_300K" type="xs:string" minOccurs="0" />
              <xs:element name="hole_mass_300K" type="xs:string" minOccurs="0" />
              <xs:element name="max_electron_mass_300K" type="xs:string" minOccurs="0" />
              <xs:element name="max_hole_mass_300K" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_pbe0_band" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_pbe0_bands_info" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_optics_semilocal" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_optics_info" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="energies" type="xs:string" minOccurs="0" />
                    <xs:element name="loptics_dielectric_constant" type="xs:string" minOccurs="0" />
                    <xs:element name="max_linopt_eps" type="xs:string" minOccurs="0" />
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                    <xs:element name="real_1" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_1" type="xs:string" minOccurs="0" />
                    <xs:element name="real_2" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_2" type="xs:string" minOccurs="0" />
                    <xs:element name="real_3" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_3" type="xs:string" minOccurs="0" />
                    <xs:element name="real_4" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_4" type="xs:string" minOccurs="0" />
                    <xs:element name="real_5" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_5" type="xs:string" minOccurs="0" />
                    <xs:element name="real_6" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_6" type="xs:string" minOccurs="0" />
                    <xs:element name="solar_slme" type="xs:string" minOccurs="0" />
                    <xs:element name="solar_sq" type="xs:string" minOccurs="0" />
                    <xs:element name="opto_dir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="opto_indir_gap" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_optics_mbj" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_optics_mbj_info" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="energies" type="xs:string" minOccurs="0" />
                    <xs:element name="loptics_dielectric_constant" type="xs:string" minOccurs="0" />
                    <xs:element name="max_linopt_eps" type="xs:string" minOccurs="0" />
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                    <xs:element name="real_1" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_1" type="xs:string" minOccurs="0" />
                    <xs:element name="real_2" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_2" type="xs:string" minOccurs="0" />
                    <xs:element name="real_3" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_3" type="xs:string" minOccurs="0" />
                    <xs:element name="real_4" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_4" type="xs:string" minOccurs="0" />
                    <xs:element name="real_5" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_5" type="xs:string" minOccurs="0" />
                    <xs:element name="real_6" type="xs:string" minOccurs="0" />
                    <xs:element name="imag_6" type="xs:string" minOccurs="0" />
                    <xs:element name="solar_slme" type="xs:string" minOccurs="0" />
                    <xs:element name="solar_sq" type="xs:string" minOccurs="0" />
                    <xs:element name="opto_dir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="opto_indir_gap" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_elastic" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="main_elastic_info" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cij" type="xs:string" minOccurs="0" />
                    <xs:element name="voigt_bulk_modulus" type="xs:string" minOccurs="0" />
                    <xs:element name="voigt_shear_modulus" type="xs:string" minOccurs="0" />
                    <xs:element name="reuss_bulk_modulus" type="xs:string" minOccurs="0" />
                    <xs:element name="reuss_shear_modulus" type="xs:string" minOccurs="0" />
                    <xs:element name="poisson_ratio" type="xs:string" minOccurs="0" />
                    <xs:element name="youngs_modulus" type="xs:string" minOccurs="0" />
                    <xs:element name="universal_ansiotropy_ratio" type="xs:string" minOccurs="0" />
                    <xs:element name="unit_system" type="xs:string" minOccurs="0" />
                    <xs:element name="phonon_modes" type="xs:string" minOccurs="0" />
                    <xs:element name="min_fd_phonon_mode" type="xs:string" minOccurs="0" />
                    <xs:element name="phonon_dos_frequencies" type="xs:string" minOccurs="0" />
                    <xs:element name="phonon_dos_intensity" type="xs:string" minOccurs="0" />
                    <!-- <xs:element name="phonon_bandstructure_distances" type="xs:string" minOccurs="0" /> -->
                    <!-- <xs:element name="phonon_bandstructure_frequencies" type="xs:string" minOccurs="0" /> -->
                    <!-- <xs:element name="phonon_bandstructure_labels" type="xs:string" minOccurs="0" /> -->
                    <!-- <xs:element name="phonon_bandstructure_label_points" type="xs:string" minOccurs="0" /> -->
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_boltz" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="boltztrap_info" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="pseeb" type="xs:string" minOccurs="0" />
                    <xs:element name="pcond" type="xs:string" minOccurs="0" />
                    <xs:element name="ppf" type="xs:string" minOccurs="0" />
                    <xs:element name="pkappa" type="xs:string" minOccurs="0" />
                    <xs:element name="nseeb" type="xs:string" minOccurs="0" />
                    <xs:element name="ncond" type="xs:string" minOccurs="0" />
                    <xs:element name="npf" type="xs:string" minOccurs="0" />
                    <xs:element name="nkappa" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_lepsilon_info" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="epsilon" type="xs:string" minOccurs="0" />
              <xs:element name="epsilon_rpa" type="xs:string" minOccurs="0" />
              <xs:element name="epsilon_ion" type="xs:string" minOccurs="0" />
              <xs:element name="max_eps" type="xs:string" minOccurs="0" />
              <xs:element name="born_effective_charge" type="xs:string" minOccurs="0" />
              <xs:element name="max_piezo_stress_coeff" type="xs:string" minOccurs="0" />
              <xs:element name="dfpt_piezoelectric_tensor" type="xs:string" minOccurs="0" />
              <xs:element name="ir_intensity" type="xs:string" minOccurs="0" />
              <xs:element name="max_ir_mode" type="xs:string" minOccurs="0" />
              <xs:element name="min_ir_mode" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="main_spillage_info" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="soc_bands" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="band_indir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="band_dir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels_points" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_y" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_y" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="nonsoc_bands" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="band_indir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="band_dir_gap" type="xs:string" minOccurs="0" />
                    <xs:element name="fermi_velocities" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels_points" type="xs:string" minOccurs="0" />
                    <xs:element name="kp_labels" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_up_bands_y" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_x" type="xs:string" minOccurs="0" />
                    <xs:element name="spin_down_bands_y" type="xs:string" minOccurs="0" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
               <xs:element name="spillage_k" type="xs:string" minOccurs="0" />
              <xs:element name="spillage_kpoints" type="xs:string" minOccurs="0" />
              <xs:element name="max_spillage" type="xs:string" minOccurs="0" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="efg_raw_tensor" type="xs:string" minOccurs="0" />
        <xs:element name="max_efg" type="xs:string" minOccurs="0" />
        <xs:element name="max_efg_eta" type="xs:string" minOccurs="0" />
        <xs:element name="main_stm_neg" type="xs:string" minOccurs="0" />
        <xs:element name="main_stm_pos" type="xs:string" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
            
        

  </xs:element>

</xs:schema>
